@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Benvenuto nel tuo Magazzino!</h1>
        <img src="magazzino.jpg" class="rounded img-fluid">
    </div>
